/*******************
MAIN PAGE CSS
*******************/

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0px auto;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}

/*******************
NAVIGATION BAR
*******************/

nav {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 100%;
  height: 120px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.02);
  border-bottom: 1px solid #ebebeb;
  background-color: white;
  z-index: 100;
}

.logo {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: 50px;
}

.logo img {
  width: 100px;
}

.nav-ul {
  display: inline-block;
  list-style: none;
  float: right;
  margin: 35px 50px 35px 0px;
}

.nav-ul ul {
  margin: 0px;
}

.nav-ul li {
  display: inline-block;
  position: relative;
}

.nav-ul li a {
  color: #166639;
  text-align: center;
  text-decoration: none;
  width: 110px;
  padding: 13px 0px;
  display: block;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.nav-ul li a:hover {
  text-decoration: none;
  background-color: #222B30;
  color: white;
}

.nav-active {
  background-color: #166639;
  color: white !important;
}

.fa-bars {
  color: #166639;
}

.menu-button {
  margin: 13px 0px;
  display: none;
}

.mobile-nav-ul, .mobile-nav-spacer {
  display: none;
}


.nav-spacer {
  width: 100%;
  height: 120px;
}

.main-content {
  clear: both;
}


/*******************
GENERAL SECTION
*******************/

.section {
  height: 740px;
}

.section-title {
  color: #166639;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.section-bar {
  height: 0px;
  width: 50px;
  margin: 0 auto;
  border-bottom: 2px solid #166639;
}

/*******************
HEADER SECTION
*******************/

#header-section {
  background-color: #222B30;
}

.nameAndDescription {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 30px;
  width: 700px;
  margin: 0px auto;
  border-bottom: 1px dotted grey;
  color: #FFFBF3;
}

.taglines {
  text-align: center;
  width: 1000px;
  margin: 0px auto;
  padding-top: 80px;
  font-size: 60px;
  color: #FFFBF3;
}

.contact-btn-div {
  margin: 0px auto;
  text-align: center;
  padding-top: 80px;
}

#contact-btn {
  padding: 10px 20px;
  background: transparent;
  color: #FFFBF3;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
}

/*******************
ABOUT SECTION
*******************/

#about-section {
  background-color: #F2F2F2;
}

.about-content {
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.about-content img {
  border-radius: 50%;
}

.about-description {
  margin-top: 20px;
  font-size: 14px;
}

.thoughts-btn-div {
  margin: 0px auto;
  text-align: center;
  padding-top: 50px;
}

#thoughts-btn {
  padding: 10px 20px;
  background: transparent;
  color: #166639;
  border: 2px solid #166639;
  border-radius: 5px;
  text-decoration: none;
}

/*******************
PROJECTS SECTION
*******************/

#projects-section {
  background-color: white;
}

.projects-content {
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  position: relative;
}

.project-description {
  display: inline-block;
  padding: 0 100px;
}

.project-description img {
  border-radius: 50%;
}

.project-middle {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.left-arrow, .right-arrow {
  display: inline-block;
  position: absolute;
  top: 33%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.left-arrow:hover, .right-arrow:hover {
  background: grey;
  color: white;
}

.left-arrow {
  left: 0;
  padding-left: 30px;
  padding-right: 20px;
}

.right-arrow {
  right: 0;
  padding-left: 20px;
  padding-right: 30px;
}

#project-four, #project-five, #project-six {
  display: none;
}

/*******************
RESUME SECTION
*******************/

#resume-section {
  background-color: #828282;
}

/*******************
CONTACT SECTION
*******************/

.contact-container {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-left: 4%;
  padding-right: 4%;
  color: #166639;
}

.form {
  width: 45%;
  display: inline-block;
}

.contact-information {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding-top: 100px;
}

.contact-information p {
  text-decoration: underline;
}

.contact-details {
  display: block;
  text-align: left;
  padding: 10px 0px;
}

label {
  display: inline-block;
  width: 100px;
}

#inputName, #inputEmail, #inputSubject, #inputMessage {
  width: 100%;
  border: 1px solid #222B30;
}

#inputName:focus, #inputEmail:focus, #inputSubject:focus, #inputMessage:focus {
  border: 1px solid #222B30;
  background-color: #F2F2F2;
  outline: none;
  padding-left: 10px;
}

#contact-details-submit {
  text-align: center;
}

#submit-btn {
  width: 100px;
  height: 50px;
}

.contact-information a {
  text-decoration: none;
  color: #222B30;
}

/*******************
NOTIFICATION MESSAGE
*******************/

.notification-message-error, .notification-message-success {
  position: fixed;
  bottom: 200px;
  right: 50px;
  width: 200px;
  height: 50px;
  font-size: 14px;
  color: white;
  text-align: center;
  border-radius: 5px;
  display: none;
}

.notification-message-error {
  background-color: #FF4136;
  border: 1px solid red;
}

.notification-message-success {
  background-color: #166639;
  border: 1px solid green;
}

/*******************
FOOTER
*******************/

footer {
  background-color: #333333;
  height: 154px;
  padding: 65px 10%;
}

.footer-left {
  float: left;
}

.footer-left p {
  margin: 0;
  color: #E0E0E0;
}

.footer-right {
  float: right;
  margin: 0;
}

.footer-right ul {
  margin: 0;
}

.footer-right ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  text-decoration: none;
  color: #E0E0E0;
}

.footer-right ul li a {
  text-decoration: none;
  color: #E0E0E0;
}

/*******************
MEDIA QUERIES
*******************/

@media (max-width: 1350px) {

  #project-three {
    display: none;
  }

  .project-middle {
    border-right: none;
  }

}

@media (max-width: 905px) {

  #project-two {
    display: none;
  }

  .project-description {
    padding: 0;
  }

}

@media (max-width: 849px) {
  .menu-button {
    display: inline-block;
  }

  .nav-ul {
    margin: 0px;
    padding: 35px 50px;
  }

  .mobile-nav-ul.unhidden {
    display: block !important;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.02);
    z-index: 100;
  }

  .mobile-nav-spacer.unhidden {
    display: block;
    width: 100%;
    height: 220px;

  }

  .mobile-nav-ul ul {
    list-style: none;
    text-align: center;
    padding-left: 0px;
    margin: 0px;
  }

  .mobile-nav-ul ul li {
    padding: 10px 0px;
  }

  .mobile-nav-ul ul li a {
    text-decoration: none;
    color: #166639;
  }

  .mobile-nav-active {
    background-color: #166639;
  }

  .mobile-nav-active a {
    color: white !important;
  }

  .nav-ul ul {
    display: none;
  }

  .nameAndDescription {
    font-size: 25px;
    width: 80%;
  }

  .taglines {
    font-size: 40px;
    width: 85%;
  }

  .contact-btn-div {
    padding-top: 120px;
  }

}

@media (max-width: 750px) {

  .form, .contact-information {
    display: block;
    width: 100%;
  }

  .contact-container {
    padding-top: 20px;
  }

  .contact-information {
    padding-top: 30px;
  }

  .contact-information p {
    display: inline-block;
    margin: 10px 20px;
  }

}

@media (max-width: 600px) {

  .thoughts-btn-div {
    padding-top: 20px;
  }

  .nameAndDescription {
    font-sze: 20px;
    width: 80%;
  }

  .taglines {
    font-size: 30px;
    width: 80%;
  }

}

@media (max-width: 500px) {

  .project-description img{
    width: 175px;
    height: 175px;
  }

  .right-arrow {
    padding-right: 15px;
    padding-left: 10px;
  }

  .left-arrow {
    padding-left: 15px;
    padding-right: 10px;
  }

}
