<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/other.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/projects.css">
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <script src="{{ site.baseurl }}/js/jquery-3.1.1.min.js" charset="utf-8"></script>
</head>
